.notes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #d2d9db;
  border-radius: 5px;
  padding: 25px 10px 5px 10px;

  small {
    color: #727272;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    padding: 10px 0;
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
      height: 35px;
      padding-left: 6px;
    }

    h2 {
      font-family: 'Nunito', sans-serif;
      letter-spacing: 1px;
      font-size: 25px;
      color: rgb(75, 75, 75);
    }
  }
}
.container__cards {
  width: 320px;
}

.spinner {
  border: 4px solid rgb(213, 215, 233);
  position: absolute;  
  margin-top: 30px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #3071bb;

  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(380deg);
  }
}