
.card {
  min-width: 260px;
  width: 100%;
  height: max-content;
  margin: 15px 0px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 3px 3px 6px 6px rgba(22, 12, 112, 0.1);
  border-top: 1px solid rgb(178, 177, 235);
}

.note {
  padding: 10px 0px 10px 15px;

  &__tittle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    margin-right: 20px;

    img {
      margin-top: 5px;
      height: 25px;
      opacity: 0.7;
      cursor: pointer;
      &:hover { 
        opacity: 1;
      }
    }

  }
  
  h4 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: rgb(0, 12, 49, 0.8);
  }
  
  h3 {
    padding: 3px 0px 6px 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: rgb(61, 61, 61);
    text-transform: uppercase;
  }

  p {
    font-family: 'Raleway', sans-serif;
    color: rgb(61, 61, 61);
    font-size: 14px;
    font-weight: 600;
    margin: 5px 15px 3px 0px;
  }

}