
.container {
  height: 100vh;
  margin: 0 auto;
  background-color: #D6E1FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 200px;
  width: 100%;
}

.box-auht-inputs {
  margin-top: 15px;
  width: 230px;
}
