
.container {
  height: 100vh;
  min-height: 100%;
  margin: 0 auto;
  background-color: #D6E1FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}
